body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 25px;
  color: darkblue;
  background-color: lightskyblue;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.button-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.thanks-div {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
