.progress-bar {
  animation-fill-mode: forwards;
  z-index: 1000;
}
@keyframes loading {
  0% {
    opacity: 1;
    width: 0%;
  }
  30% {
    width: 45%;
  }
  60% {
    width: 70%;
  }
  70% {
    width: 80%;
  }
  80% {
    width: 85%;
  }
  90% {
    width: 89%;
  }
  97% {
    width: 99%;
  }
  100% {
    width: 90%;
  }
}

@keyframes complete {
  0% {
    width: 90%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes color-transition {
  from {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}
